@import "tailwindcss";
/* Importar estilos del carrito React */
@import './app/core/react-components/carrito/cart.css';

/* Variables CSS globales para reutilizar en toda la aplicación */
:root {
  --color-primary: #2C3E50;
  --color-secondary: #34495E;
  --color-accent: #2ECC71;
  --color-accent-hover: #27AE60;
  --color-text-light: #ECF0F1;
  --color-text-muted: #BDC3C7;
  --color-danger: #E74C3C;
  --color-danger-hover: #C0392B;

  --accent-opacity-10: rgba(46, 204, 113, 0.1);
  --accent-opacity-15: rgba(46, 204, 113, 0.15);
  --accent-opacity-40: rgba(46, 204, 113, 0.4);

  --transition-base: all 0.3s ease;
  --transition-fast: all 0.2s ease;
  --transition-slow: all 0.5s ease;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
}

/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

body {
  font-family: var(--font-primary);
  line-height: 1.5;
  color: var(--color-primary);
  scrollbar-gutter: stable;
}

/* Estado del body cuando hay modales abiertos */
body.modal-open {
  overflow: hidden;
}

/* Scroll minimalista personalizado */
*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  border: 5px transparent rgba(139, 139, 139, 0.088);
}

*::-webkit-scrollbar-thumb:hover {
  transition: var(--transition-base);
  background: rgba(0, 144, 41, 0.32);
}
