<div class="producto-card" (click)="verDetalle()">
  <div class="producto-imagen">
    <img [src]="producto.imagen" [alt]="producto.nombre">
    <div class="producto-descuento" *ngIf="producto.precioAnterior">
      -{{calcularDescuento()}}%
    </div>
    <button class="btn-agregar" (click)="agregarAlCarrito($event)">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  
  <div class="producto-info">
    <h3 class="producto-nombre">{{producto.nombre}}</h3>
    <p class="producto-caracteristicas">{{getCaracteristicasTruncadas()}}</p>
    
    <div class="producto-detalles">
      <div class="precio-contenedor">
        <span class="precio-actual">${{producto.precio}}</span>
        <span class="precio-anterior" *ngIf="producto.precioAnterior">
          ${{producto.precioAnterior}}
        </span>
      </div>
      
      <span class="producto-marca">{{producto.marca}}</span>
    </div>

    <div class="producto-disponibilidad" *ngIf="producto.stock < 5">
      ¡Solo quedan {{producto.stock}} unidades!
    </div>
  </div>
</div>
